<div class="login-container">
  <div class="login-left"></div>

  <div class="login-right"></div>

  <div class="login_card_wrapper d-flex flex-column gap-4">
    <img src="assets/sowkhya-health.png" alt="Soukhya" class="logo" />
    <div class="login-card">
      <h3 class="mb-4 text-center">Welcome to Soukhya</h3>

      <form (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate class="d-flex flex-column gap-4">
        <div>
          <input type="text" class="form-control" placeholder="Your Email" [(ngModel)]="email" name="email" required />
          <i class="bi bi-envelope input-icon"></i>
        </div>
        <div>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password"
            required />
          <i class="bi bi-lock input-icon"></i>
        </div>
        <label><input type="checkbox">&nbsp; &nbsp; Remember me</label>
        <button class="btn btn-primary w-100" type="submit">Login</button>
         <p style="margin-top:10px; font-size:14px;">
        Need to find <br><a href="#">Forgot Your Password?</a>
      </p>
        <p class="text-danger mt-3" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
</div>